@{
    ViewData["Title"] = "Página no encontrada";
}

<div style="text-align:center; padding:50px;">
   <img src="img/404.png" alt="404" />
    <h2>¡Ups! Página no encontrada</h2>
    <p>La página que buscas no existe o fue movida.</p>
    <a href="/" class="btn naranja text-light rounded-2">Volver al Inicio</a>
</div>